body{
    background-color: #F5F1ED;;
}

header{
    padding-left: 50px;
    font-size: 40px;
    height: 2em;
    background-color:#252323;
    padding-top: 1em;
    color: #F5F1ED;
    font-family: 'Poppins', 'Arial Black';
}

.menu{
    font-family: 'Poppins', 'Arial Black';
    background-color: #70798C;
    font-size: 20px;
    height: 1.5em;
    padding-top: 0.5em;
}
.Menu{
    text-decoration: none;
    color: #DAD2BC;
    padding-left: 50px;
}
.Menu:hover{
    color: #A99985;
}

.text{
    color: #252323;
    font-family: 'Poppins', 'Arial Black';
    padding-top: 10px;
    margin-left: 1%;
}

.titles{
    font-family: 'Poppins', 'Arial Black';
    padding-top: 20px;
    margin-left: 1%;
    font-size: 25px;
}
.titles2{
    font-family: 'Poppins', 'Arial Black';
    padding-top: 20px;
    margin-left: 1%;
    font-size: 20px;
}
.list,.center{
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
}

.list{
    font-family: 'Poppins', 'Arial Black';
    color: #252323;
    list-style: disc; 
}

.list2{
    font-family: 'Poppins', 'Arial Black';
    color: #252323;
    list-style: disc; 
}

.fonts{
    text-decoration: none;
    font-family: 'Poppins', 'Arial Black';
    color: #252323;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
